@model ERP.models.Student

<style>
    form {
        padding-left:3rem;

    }
    label{
        display: block;
        font-weight: bold;
    }
</style>
<div>
    <!--<div class="modal-header">-->
    @*<h1>HELLO</h1>*@
    <!--<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Student Information</h4>
    </div>-->


    <div class="modal-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
         
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>First Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <label>Gender</label>
                @Html.DropDownListFor(model => model.genderid, new SelectList(Model.Genders, "id", "Name"))
            </div>
            <br />
            <div class="form-group">
                <label style="display:inline;">IsActive</label>
                @Html.CheckBoxFor(model => model.isActive) 
            </div>
            <br />


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-outline-dark" />
                </div>
            </div>
            @*</div>*@
        }
    </div>
</div>
