@model IEnumerable<ERP.models.Student>

@{
    ViewBag.Title = "GetAllRecords";
}
@*<style>
        #f2 {
            color: red;
        }
    </style>*@
<h2>GetAllRecords</h2>


<p>
    <button type="button" class="btn btn-primary" onclick="GetData()">Create</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            <h5>Status</h5>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="anchor-detail" onclick="updateData(@item.Id)">@Html.DisplayFor(modelItem => item.Fname)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender.Name)
            </td>
            <td>
                @if (item.isActive)
                {
                    <h5> Active </h5>
                }
                else
                {
                    <h5> InActive </h5>
                }
                    </td>
            <td>
               
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<div id='UpdateModal' class='modal'>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title" id="myModalLabel">Update Student</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id='UpdateModalContent'></div>
        </div>
    </div>

</div>

<div id='myModal' class='modal'>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title" id="myModalLabel">Add Student</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    function GetData() {
        $.ajax({
            type: "GET",

            url: "/Home/__Create",

            success: function (data) {
                debugger;
                $('#myModalContent').html(data);
                //$('#myModal').modal(options);
                $('#myModal').fadeIn(800);
                $('#myModal').modal('show');

            },
            error: function () {
                alert("Dynamic content load failed.");
            },
        });
    }


    $('.close').click(function () {
        console.log('hello');
        $("#myModal").modal('hide');

    });


    function updateData(id) {
        $.ajax({
            type: "GET",
            url: "/Home/__Update",
            data: { "Id": id },
            success: function (data) {
                debugger;
                $('#UpdateModalContent').html(data);
                //$('#myModal').modal(options);
                $('#UpdateModal').fadeIn(800);
                $('#UpdateModal').modal('show');

            },
            error: function () {
                alert("Dynamic content load failed.");
            },
        });
    }

    //$('.close').click(function () {
    //    console.log('hello');
    //    $("#myModal").modal('hide');

    //});





</script>