@model IEnumerable<ERP.models.Student>

@{
//ViewBag.Title = "GetAllRecords";
}
<style>
    .table {
        table-layout: auto;
    }

        .table td, .table th {
            /*white-space: nowrap;*/
       text-align:center;
        }

        .table thead th:last-child {
            width: 100%;
        }
        h2{
            text-align:center;
            padding: 1rem;
            color: black;
            text-shadow: 1px 1px 1px black;
        }
        h3{
            padding-left: 10rem;
        }
        h1{
            text-align: center;
            margin-bottom: 3rem;
        }
       
    </style>


<div id=" landingpage" style="padding:0.6rem">
    <h2>Student Details</h2>
    <p>
        <button type="button" class="btn btn-outline-success" onclick="GetData()">Create</button>
        <button type="button" id="btnsubmit">Delete All</button>
    </p>

    <table class="table table-bordered table-striped table-dark table-hover">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Middle Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Gender
            </th>
            <th>
                Status
            </th>
            <th>Delete</th>
            <th>
                Select
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="row-select">
          
                    <input type="hidden" name="name" class="check" value="@item.Id"/>
              
                <td>
                    <a class="anchor-detail text-capitalize" onclick="updateData(@item.Id)">@Html.DisplayFor(modelItem => item.Fname)</a>
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td class="text-capitalize">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender.Name)
                </td>
                <td>
                    @if (item.isActive)
                    {
                        <p class="text-success  ">Active</p>
                        @*<h5> Active </h5>*@
                    }
                    else
                    {
                        <p class="text-danger">InActive</p>
                    }
                </td>
                <td>

                    <button class="btn btn-outline-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                </td>
                <td >
                    <input type="checkbox"  name="studentIdtoDelete" class="studentIdtoDeletes" value="@item.Id"/>
                </td>
            </tr>
        }

    </table>
    
</div>

<div id='UpdateModal' class='modal'>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title" id="myModalLabel">Update Student</h3>
                <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id='UpdateModalContent'></div>
        </div>
    </div>

</div>

<div id='myModal' class='modal'>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title" id="myModalLabel">Add Student</h3>
                <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-hidden="true">X</button>
            </div>
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    //function multipleDelete() {
    //    var res = new Array();

    //    //var chkvalue = $('.studentIdtoDeletes:checked');

    //    ////console.log(chkvalue);
    //    //if (chkvalue.checked) {
    //    //    var x = document.getElementById("#hiddenval").value;
    //    //    console.log(x);

    //    }
    //}
    
    $("#btnsubmit").click(function () {
        debugger;
            var res = new Array();
        $('.row-select input:checked').each(function () {
            var id;
            id = $(this).closest('tr').find('.check').val();
            res.push(id);
        console.log(res);
        })
        $.ajax({
            type: "GET",
            data: {"multidelete": res},
            url: "/Home/MultipleDelete",

            success: function (data) {
                //alert("")

            },
            error: function () {
                alert("Dynamic content load failed.");
            },
        });
    })

    function GetData() {
        $.ajax({
            type: "GET",

            url: "/Home/__Create",

            success: function (data) {
                debugger;
                $('#myModalContent').html(data);
                //$('#myModal').modal(options);
                $('#myModal').fadeIn(800);
                $('#myModal').modal('show');

            },
            error: function () {
                alert("Dynamic content load failed.");
            },
        });
    }


    $('.close').click(function () {
        console.log('hello');
        //$("#myModal").delay(1000).fadeOut('slow');
        $("#mymodal").modal('hide');
        //setTimeout(function () {
        //    $('#myModal').modal("hide");
        //}, 1500);
    });


    function updateData(id) {
        $.ajax({
            type: "GET",
            url: "/Home/__Update",
            data: { "Id": id },
            success: function (data) {
                debugger;
                $('#UpdateModalContent').html(data);
                //$('#myModal').modal(options);
                $('#UpdateModal').fadeIn(800);
                $('#UpdateModal').modal('show'); 
            },
            error: function () {
                alert("Dynamic content load failed.");
            },
        });
    }

    //$('.close').click(function () {
    //    console.log('hello');
    //    $("#myModal").modal('hide');

    //});





</script>